/*Estilos*/
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/nav.css');
@import url('Styles/footer.css');
@import url('Styles/combos.css');

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --fontDestaque: "Montserrat", sans-serif;
    --fontAlta: "Poppins", sans-serif;
    --fontPadrao: "Roboto", sans-serif;
    --cor1: #f8f8f8;
    --cor2: #000000;
    --cor3: #d81111;
    --cor4: #e6e6e6;
}

/*Regras*/
*{
    box-sizing: border-box;
}
.ocultar{
    display: none;
}
body{
    margin: 0;
    background-color: var(--cor4);
    background-image: url(Assets/Icones/espeto.png);
    background-size: 10%;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontAlta);
}
p, a{
    font-family: var(--fontPadrao);
}
span{
    font-family: var(--fontDestaque);
}