/*Estilos*/
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/nav.css');
@import url('Styles/footer.css');
@import url('Styles/combos.css');
@import url('Styles/modal.css');
@import url('Styles/especiais.css');
@import url('Styles/cardapio.css');
@import url('Styles/finalizar.css');
@import url('Styles/formulario.css');

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*Variáveis*/
:root{
    --fontDestaque: "Montserrat", sans-serif;
    --fontAlta: "Poppins", sans-serif;
    --fontPadrao: "Roboto", sans-serif;
    --fontVertical: "Oswald", sans-serif;
    --cor1: #f0f0f0;
    --cor2: #000000;
    --cor3: #d81111;
    --cor4: #dbdbdb;
    --cor5: #999999;
    --cor6: #ffc400;
    --cor7: rgba(0, 0, 0, 0.7);
}

/*Regras*/
*{
    box-sizing: border-box;
}
.ocultar{
    display: none;
}
body{
    margin: 0;
    background-color: var(--cor2);
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--fontAlta);
}
p, a{
    font-size: 1rem;
    font-family: var(--fontPadrao);
}
span, button{
    font-family: var(--fontDestaque);
}

/*Botões padrão*/
.enviarPedido{
    background-image: url(Assets/Icones/whatsapp.png);
}
.gerarPedido{
    background-image: url(Assets/Icones/pedido.png);
}
.btnPedido{
    background-color: var(--cor3);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 15%;
    color: var(--cor1);
    border: none;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}

@media screen and (min-width: 724px){
    p,a{
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1300px){
    
}