.cardapio img,video{
    width: 100%;
}
.cardapio h2{
    flex-direction: column;
}
.cardapio h2 span{
    font-size: 2.2rem;
    color: var(--corTema2);
    font-weight: 600;
    border: 2px solid var(--corTema2);
    padding: 0.2em;
    border-radius: 5px;
    margin-top: 0.3em;
}
.cardapio p{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    font-size: 0.9rem;
    font-weight: 800;
    border-bottom: 1px solid;
}
.cardapio p span{
    color: var(--corTema2);
}
#playVideo{
    width: 30%;
    margin: 5% 0 30% 35%;
}
.cardapioDestaque{
    display: flex;
    margin: 2em 0;
}
.cardapioDestaque p{
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 65%;
}
.cardapioDestaque p span{
    font-size: 2rem;
}
.cardapioDestaque img{
    width: 35%;
}