/*Elemento pai*/
.tipoCardapio{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    padding: 0;
}

/*Imagens para cada tipo*/
.imagemCardapio{
    width: 90%;
    border-radius: 10px;
    margin: 1em 0;
}

/*Lista cardápio*/
.listaEscondida{
    display: none;
    z-index: 3;
    flex-direction: column;
}
.listaEscondida li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    flex-flow: row wrap;
    margin: 2em 0;
}
.listaEscondida li p{
    width: 65%;
    font-weight: 700;
}
.listaEscondida li span{
    font-weight: 700;
    width: 30%;
    padding: 0.5em;
}
.listaEscondida span{
    width: 33%;
    background-size: 30%;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2em;
}

/*Abrir lista*/
.abrirLista{
    width: 85%;
    text-align: center;
    color: var(--cor1);
    padding: 0.5em 0.7em;
    border-radius: 10px;
    font-family: var(--fontDestaque);
    border: 2px solid var(--cor5);
    position: absolute;
    top: 70%;
    font-size: 1.2rem;
    text-shadow: 0px 0px 5px var(--cor2);
    background-color: var(--cor7);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 90%;
    background-image: url(../Assets/Icones/setaDireita.png);
}
.botaoEscondido:checked~.listaEscondida{
    display: flex;
    padding: 1em;
}
.botaoEscondido:checked~label{
    background-image: url(../Assets/Icones/setaBaixo.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border: 0;
    border-radius: 0;
    background-color: var(--cor2);
    box-shadow: 0px 0px 10px var(--cor2);
}
.botaoEscondido:checked body{
    overflow: hidden;
}

/*Botões "mais" e "menos"*/
.listaEscondida button{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--cor1);
    padding: 1em;
    width: 35%;
    border: 2px solid var(--cor3);
}
.subtrai{
    border-radius: 10px 0 0 10px;
    background-color: var(--cor2);
}
.soma{
    border-radius: 0 10px 10px 0;
    background-color: var(--cor3);
}

/*Icones dos itens*/
.espeto{
    background-image: url(../Assets/Icones/espetoVermelho.png);
}
.gourmet{
    background-image: url(../Assets/Icones/gourmets.png);
}
.bebida{
    background-image: url(../Assets/Icones/bebida.png);
}
.cerveja{
    background-image: url(../Assets/Icones/cerveja.png);
}

@media screen and (min-width: 724px){
    .tipoCardapio{
        width: 40%;
    }
    .listaEscondida{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .listaEscondida li{
        width: 80%;
        font-size: 1.2rem;
    }
    .listaEscondida span{
        background-size: 15%;
        background-position: 70%;
    }
    .abrirLista{
        background-size: 1em;
    }
    .tipoCardapio:hover{
        width: 49%;
        transition: 1s;
    }
}
@media screen and (min-width: 1300px){
    .tipoCardapio{
        width: 23%;
    }
    .tipoCardapio:hover{
        width: 24%;
    }
    .listaEscondida{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .imagemCardapio:hover{
        transition: 1s;
        box-shadow: 0px 0px 20px var(--cor3);
    }
    .listaEscondida li{
        width: 45%;
        margin-bottom: 3em;
    }
}