.especiais{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
    justify-content: center;
    color: var(--cor1);
}
.especial{
    overflow: auto;
}
.especiais h2{
    text-align: center;
    padding: 0 1em;
}
.combos{
    display: flex;
    width: 220%;
}
.combo{
    width: 33%;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    padding-left: 0.5em;
}
.comboInfo{
    width: 95%;
}
.combo img{
    width: 95%;
}