/*Especiais*/
.especial{
    overflow: auto;
    padding: 2em 0;
    color: var(--cor1);
}
.chopps, .combos{
    display: flex;
    margin-left: 5%;
}

/*Combo*/
.combos{
    width: 225%;
}
.combo{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    gap: 1em;
}
.combo h3{
    width: 100%;
}
.combo p{
    line-height: 1.5em;
    font-family: var(--fontDestaque);
}
.combo span{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: 600;
    font-size: 1.5rem;
}
.combo span del{
    color: var(--cor3);
    font-size: 1.2rem;
}
.combo img{
    width: 95%;
    border-radius: 20px;
}

/*Chopps*/
.chopps{
    width: 300%;
}
.chopp{
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.chopp img{
    width: 90%;
}
.chopp h3{
    width: 100%;
    text-align: center;
    
}
.chopp i{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--fontAlta);
}
.selecionarChopp{
    color: var(--cor1);
    width: 40%;
    padding: 0.5em;
    border: 2px solid var(--cor3);
    margin: 1em 0;
}
.chopps p{
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 724px){
    .combos, .chopps{
        margin-left: 0;
        justify-content: space-around;
        width: 100%;
        padding: 1em;
    }
    .combo{
        padding-right: 0;
    }
    .combo img{
        margin: 0 auto;
    }
    .chopp{
        width: 23%;
    }
}
@media screen and (min-width: 1300px){
   .combo{
        width: 20%;
        gap: 0.3em;
   }
   .combos{
    width: 80%;
    margin: 0 auto;
   }
    .chopp{
        width: 50%;
    }
}