footer{
    color: var(--cor1);
    padding: 3em 2em 5em 2em;
    text-align: center;
}
footer h2{
    border: 2px solid var(--cor1);
    border-radius: 10px;
}
footer p{
    font-size: 0.8rem;
}
footer a{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    color: var(--cor1);
    font-size: 0.7rem;
}
footer a img{
    width: 5%;
}
.finalizar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;
    padding: 1.5em;
    background-color: var(--cor2);
    gap: 1em;
    font-weight: 600;
}
.finalizar button{
    background-color: var(--cor3);
    border: 0;
    border-radius: 10px;
    color: var(--cor1);
    font-weight: 700;
}
