header{
    padding: 5em 2em 2em 2em;
    background-color: var(--cor2);
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    color: var(--cor1);
    text-align: center;
}
header h1{
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
}
header img{
    width: 100%;
}
header p{
    font-family: var(--fontDestaque);
    font-weight: 550;
}
header h2{
    background-image: url(../Assets/Icones/baixo.png);
    background-size: 10%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 100%;
    font-size: 1.3rem;
}