header{
    padding: 5em 2em 2em 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--cor1);
    text-align: center;
    background-image: url(../Assets/Imagens/espetosBar.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 35%;
    height: 170vw;
}
header h1{
    text-align: center;
    font-size: 1.2rem;
}
.headerInfo{
    font-family: var(--fontDestaque);
    font-weight: 550;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
header span{
    text-align: left;
    font-size: 0.7rem;
    padding: 1em 3em;
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 0%;
    width: 100%;
}
header h2{
    background-image: url(../Assets/Icones/baixo.png);
    background-size: 7%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1em;
    background-position: 10%;
    font-size: 1rem;
    margin: 0;
}
.local{
    background-image: url(../Assets/Icones/local.png);
}
.relogio{
    background-image: url(../Assets/Icones/relogio.png);
}

@media screen and (min-width: 724px){
    header{
        height: 50vw;
        align-items: end;
        background-size: 30%;
        background-position: 20% 65%;
        justify-content: center;
        gap: 1em;
        text-align: left;
    }
    header h1{
        width: 50%;
        text-align: left;
    }
    .headerInfo{
        width: 50%;
    }
    header h2{
        background-position: 0%;
        padding: 5vw;
    }
}
@media screen and (min-width: 1300px){
    header{
        height: auto;
        background-size: 20%;
    }
    .headerInfo span{
        background-size: 3%;
    }
    .headerInfo h2{
        background-size: 3%;
        background-position: 5%;
    }
}