.principal h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1%;
}
.principal p{
    padding: 1em;
    text-align: center;
}
.principal hr{
    color: var(--corTema2);
}