.swiper{
    background-color: var(--corTema);
    padding: 0 0 2em 1em;
    margin: 5em 0;
}
.swiper img{
    width: 25%;
}
.swiper h2{
    color: var(--corDestaque);
}
.swiperItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--corTema3);
    padding: 0 0 2em 0;
}
.swiperItem h3{
    color: var(--corTema3);
    font-family: var(--fontAlta);
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 800;
}
.swiperItem ul{
    margin-bottom: 2em;
}
.swiperItem li{
    color: var(--corDestaque);
    font-size: 1rem;
    margin-bottom: 0.5em;
    font-family: var(--fontPadrao);
}
.swiperItem span{
    color: var(--corTema2);
    font-family: var(--fontDestaque);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: line-through;
}
.swiperItem h4{
    font-size: 2.3rem;
    font-family: var(--fontDestaque);
    font-weight: 800;
    color: var(--corTema3);
}

@media screen and (min-width: 724px){
    .swiperItem{
        flex-flow: row wrap;
        justify-content: center;
    }
    .swiperItem h3{
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .swiperItem ul{
        width: 48%;
    }
    .precos{
        width: 48%;
    }
    .swiperItem ul, .precos{
        text-align: center;
    }
    .swiper img{
        width: 15%;
    }
    .swiperItem li{
        text-align: left;
    }
}

@media screen and (min-width: 1300px){
    .swiper{
        margin-left: 1%;
        border-radius: 20px;
        width: 97%;
    }
    .swiperItem h3{
        font-size: 2rem;
    }
    .swiperItem li{
        font-size: 1.5rem;
    }
    .precos h4{
        font-size: 3rem;
    }
    .precos span{
        font-size: 1.5rem;
    }
    .swiper img{
        width: 10%;
    }
}